@page "/counter"
@using System.Text.Json;
@using static HalloBlazorWebAss.Pages.FetchData;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<p>@books</p>
<button class="btn btn-primary" @onclick="GetBooks">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    string books = "";
    private async void GetBooks()
    {
        var url = "https://www.googleapis.com/books/v1/volumes?q=blazor";
        var http = new HttpClient();
        var json = await http.GetStringAsync(url);

        //WeatherForecast weatherForecast = System.Text.Json.JsonSerializer.Deserialize<WeatherForecast>(json);
        BooksResult result = JsonSerializer.Deserialize<BooksResult>(json);

        books = string.Join(",", result.items.Select(x => x.volumeInfo.title));
    }
}
